[submodule "models/PARM"]
	path = models/PARM
	url = https://github.com/NTBEL/PARM
[submodule "models/CORM"]
	path = models/CORM
	url = https://github.com/LoLab-MSM/CORM
[submodule "models/JARM"]
	path = models/JARM
	url = https://github.com/LoLab-MSM/JARM
[submodule "models/earm"]
	path = models/earm
	url = https://github.com/sorgerlab/earm
[submodule "models/egfr"]
	path = models/egfr
	url = https://github.com/LoLab/egfr
[submodule "models/marm1"]
	path = models/marm1
	url = https://github.com/labsyspharm/marm1-supplement
